.email {
    background-color: #3f0434;
    padding: 1rem;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: #3f04345d 0px 7px 15px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 340px;
    flex-direction: column;

}

.email .custom-btn {
    width: 95%;
}

.email .custom-btn i {
    font-size: 1.6rem;
}

.email .custom-btn span {
    font-weight: 500;
    font-size: 0.85rem;
}

@media screen and (max-width: 658px) {
    .email {
        padding: 1rem;
        width: 90%;
    }
    
    .email .custom-btn i {
        font-size: 1.6rem;
    }
    
    .email .custom-btn span {
        font-weight: 500;
        font-size: 0.85rem;
    }
    
}